In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

### Read the dataset about health and filter it by USA

In [2]:
df = pd.read_csv("PLACES_Local_Data_for_Better_Health_County_Data_2024_release_20250320.csv")
df = df[df['Data_Value_Type'].str.contains("Age-adjusted prevalence", na=False)]
df = df.rename(columns={"LocationName": "city"})
df = df.drop(['StateAbbr', 'StateDesc', 'DataSource', 'Category', 'LocationID', 'CategoryID', 'DataValueTypeID', 'Geolocation' ], axis=1)
# print(len(df["Measure"]))
df.head()

C:\Users\alexf\AppData\Local\Temp\ipykernel_21392\1677538509.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("PLACES_Local_Data_for_Better_Health_County_Data_2024_release_20250320.csv")

,Year,city,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,MeasureId,Short_Question_Text
4,2022,Alachua,Arthritis among adults,%,Age-adjusted prevalence,24.4,NaN,NaN,21.7,27.2,284030,234132,ARTHRITIS,Arthritis
18,2022,Burke,Stroke among adults,%,Age-adjusted prevalence,4.2,NaN,NaN,3.8,4.5,24388,18410,STROKE,Stroke
25,2022,Lowndes,Stroke among adults,%,Age-adjusted prevalence,4.1,NaN,NaN,3.8,4.5,119739,90624,STROKE,Stroke
26,2022,Macon,Arthritis among adults,%,Age-adjusted prevalence,30.0,NaN,NaN,26.6,33.7,11765,9604,ARTHRITIS,Arthritis
27,2022,Pulaski,Stroke among adults,%,Age-adjusted prevalence,4.1,NaN,NaN,3.7,4.4,9984,8248,STROKE,Stroke

### Read the air quality dataset and clean the data

In [5]:
airdf = pd.read_excel("who_ambient_air_quality_database_version_2024_(v6.1).xlsx", sheet_name="Update 2024 (V6.1)")


# Filter by US
airdf = airdf[airdf["country_name"] == "United States of America"]

# Drop unnnecessary columns
airdf = airdf.drop(['version','reference','web_link', 'population_source','who_ms', 'type_of_stations', 'population', 'latitude', 'longitude', 'iso3', 'who_region', 'no2_concentration',	'pm10_tempcov',	'pm25_tempcov',	'no2_tempcov'], axis=1)

# Remove state from city names
airdf['city'] = airdf['city'].str.split(' ').str[0]

# Leave only year 2020
airdf = airdf[airdf['year'] == 2020.0]
airdf.head()

,country_name,city,year,pm10_concentration,pm25_concentration
99,United States of America,Aberdeen,2020.0,NaN,NaN
243,United States of America,Adrian,2020.0,NaN,8.20
502,United States of America,Akron,2020.0,NaN,8.15
676,United States of America,Albany,2020.0,NaN,9.10
688,United States of America,Albany,2020.0,NaN,6.40

### Merge the datasets