In [2]:
import pandas as pd

In [26]:
df = pd.read_excel("air_quality_data_edited.xlsx")


df = df.drop(df.columns[0], axis=1)
df = df.iloc[:1018]
df

,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trends Sites,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Adrian, MI",O3,4th Max,1.0,0.082,0.086,0.089,0.088,0.074,0.082,...,0.068,0.065,0.069,0.066,0.071,0.059,0.067,0.066,0.065,0.071
1,"Akron, OH",O3,4th Max,2.0,0.085,0.096,0.100,0.090,0.079,0.091,...,0.060,0.065,0.060,0.066,0.068,0.062,0.063,0.067,0.070,0.071
2,NaN,PM2.5,Weighted Annual Mean,3.0,16.200,16.200,16.000,14.100,13.800,15.700,...,9.900,10.400,8.200,7.900,7.900,8.200,7.900,8.000,7.100,7.500
3,NaN,PM2.5,98th Percentile,3.0,37.000,44.000,40.000,34.000,35.000,43.000,...,22.000,23.000,17.000,18.000,18.000,21.000,21.000,20.000,17.000,20.000
4,NaN,SO2,99th Percentile,1.0,163.000,132.000,145.000,167.000,172.000,140.000,...,21.000,14.000,8.000,3.000,6.000,3.000,4.000,5.000,6.000,8.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,"Yuba City, CA",NO2,Annual Mean,1.0,13.000,14.000,15.000,14.000,12.000,12.000,...,8.000,7.000,7.000,7.000,7.000,6.000,6.000,5.000,7.000,6.000
1014,NaN,NO2,98th Percentile,1.0,62.000,62.000,62.000,62.000,52.000,51.000,...,44.000,39.000,40.000,42.000,41.000,40.000,38.000,34.000,37.000,33.000
1015,NaN,O3,4th Max,2.0,0.081,0.077,0.090,0.085,0.076,0.075,...,0.072,0.068,0.072,0.074,0.073,0.063,0.075,0.075,0.064,0.064
1016,NaN,PM2.5,Weighted Annual Mean,1.0,10.600,11.900,13.100,9.500,10.000,9.500,...,9.400,9.600,8.100,9.300,10.300,8.400,16.400,14.500,10.700,8.400
1017,NaN,PM2.5,98th Percentile,1.0,38.000,54.000,34.000,29.000,38.000,42.000,...,25.000,31.000,22.000,32.000,37.000,27.000,91.000,45.000,28.000,24.000